@{
    List<ProjectPG.Models.OrderProduct> productInCart = ViewBag.productInCart;
    decimal totalPrice = ViewBag.totalPrice;
}
@{
    ViewBag.Title = "Koszyk";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script>
    $(document).ready(function () {

        $('#js-save').click(function () {

            var firstName = $('#js-name-input').val();
            var secondName = $('#js-secondname-input').val();
            var email = $('#js-mail-input').val();
            var phone = $('#js-phone-input').val();

            console.log(firstName);
            console.log(secondName);
            console.log(email);

            $.ajax({
                method: 'GET',
                url: '/Offer/Form',
                data: {
                    'firstName': firstName,
                    'secondName': secondName,
                    'email': email,
                    'phone': phone

                }

               
                });
            });

            $('.js-delete').click(function () {

                var $produkt = $(this).closest('.js-product');
                var productId = $produkt.attr('data-productId');
                var productName = $produkt.find('.js-productName').text();
        

                $.ajax({
                    method: 'GET',
                    url: '/Offer/DeleteOrder',
                    data: {
                        'productId': productId,
                    }
                })
                  .done(function (msg) {
                      if (msg == 1) {
                          alert("Usunięto pozycję " + productName + "z Twojego koszyka zakupów");
                          $produkt.remove();
        
                          location.reload();
                          

                      }
                      else {
                          alert("Nie udało się usunąć produktu z koszyka");
                      }
                  });
            });
        });
    
</script>

<div>
    <div class="content">
        <h2> Zawartość koszyka </h2>

        @{
            if (productInCart.Count == 0)
            {
                <h3>Twój koszyk jest pusty</h3>
            }
            else
            {
                <table id="cart-table">

                    
                    @foreach (var product in productInCart)
                    { 
                    decimal productPrice = product.Product.productPrice * product.count;

                        <tr class="rows-table js-product" data-productId="@product.productId">
                            <td class="first-column js-productName">@product.Product.productName</td>
                            <td class="second-column">ilość: @product.count</td>
                            <td class="third-column">cena: @productPrice<span>zł</span></td>

                            <td class="last-column js-delete">usuń</td>
                        </tr>
                    }
                    
             
                    <tr>
                        <td></td>
                        <td> Suma: </td>
                        <td> @totalPrice </td>
                    </tr>
                </table>
                <h2>Twoje dane:</h2>
                <div>imię: <input id="js-name-input"/></div>
                <div>nazwisko: <input id="js-secondname-input"/></div>
                <div>e-mail: <input id="js-mail-input"/></div>
                <div>telefon: <input id="js-phone-input"/></div>

                <div id="js-save">Zakończ zamówienie</div>
            }

        }



    </div>
</div>
