@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div style="margin-top:15px;">
    <div>
        @Html.Partial("ListMenu")
    </div>
    <div>
        @Html.Partial("ListOfProduct")
    </div>
</div>
<div style="clear:both;"></div>