@using ProjectPG

@model  IEnumerable<ProjectPG.Models.Product> 

<div class="site-content">
    @*@foreach (var product in Model)
    {

    }*@
    <div class="product-info">
        <img class="products-index" src="~/Content/ProductsFotos/mus.jpg" />

        <div class="product-txt">
            <p>sdfdsgfxbd sfbfdhbdgvngcmf fhdjjgfjf dfhdghdjfjfjfhjh</p>
        </div>
        <div style="clear:both;"></div>
    </div>



</div>