
@model ProjectPG.ViewModels.HomeViewModel

@{
    ViewBag.Title = "NieGotuj-zamawiaj pyszne jedzenie";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<div class="index-content">
    <h2 class="index-header">
        Zamów online pyszne domowe jedzenie<br />
        odbierz już następnego dnia
    </h2>


    <p class="index-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ipsum eros. Sed vitae metus purus. Cras malesuada egestas imperdiet. Sed eget vestibulum turpis.
        Phasellus non fermentum odio. Mauris ac dolor ornare, efficitur purus vitae, faucibus augue. Cras malesuada euismod nisl, in molestie mauris finibus ullamcorper.
        Cras sagittis euismod augue, id tristique dolor aliquam fi            Suspendisse dictum magna commodo, fermentum neque non, tincidunt metus. Donec convallis ut purus eget maximus. In scelerisque mauris nec elit rutrum, at posuere dui ullamcorper.
nibus. Donec et mauris congue, sollicitudin lectus posuere, gravida ipsum.<br /><br/>
        Morbi fringilla eu nibh eu tincidunt. Sed porttitor ac lacus et elementum. Etiam quam diam, consequat ac bibendum ut, viverra a purus. Aenean scelerisque enim vel sem imperdiet hendrerit.
        Ut diam arcu, hendrerit at faucibus eget, interdum vel lorem.
    </p>

    <div id="button-toproducts">
        <a id="link-toproducts" href="@Url.Action("List","Offer", new { typename = "wszystko" })">  Sprawdź naszą ofertę i zamów pyszne jedzenie</a>
    </div>

    <div id="four-products">
        @foreach (var prod in Model.RandomProducts)
        {
            <div class="links-toproducts products-index"   style="background-image:url('/Content/ProductsFotos/@prod.productPictureName')">
                
                <div style="margin-top:250px; margin-left:200px;">zamów</div>
            </div>
        }

        <div style="clear:both;"></div>
    </div>




</div>
<div style="clear:both;"></div>



